/*Add padding and margin to space out the page.
Make the font larger too.*/
body{
	margin-right: auto;
  margin-left: auto;
	padding: 10%;
	font-family: 'Poppins';
  background: url('../images/background2.jpg');
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
}

.topline{
  grid-row: 1;
}

header{
  grid-row: 2;
}

main{
  grid-row: 3;
}

aside{
  grid-row: 4;
}

/*Make the h1 heading bigger with a bold font*/
h1{
	font-size: 2em;
	font-weight: bold;
  color: #8B0000;
  font-family: 'Poppins', sans-serif;
  padding: 10px;
  margin: 10px;
	text-align: center;
}

.active{
	background: #8B0000;
  text-transform: uppercase;
	text-align: left;
  border-radius: 0%;
  justify-content: center;
  text-align: center;
}

.active a{
	text-decoration: none;
	color: white;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	/*width: 50%;*/
  }

/*Style the images*/
img{
  height: auto;
	width: 300px;
  border: 3px /*solid blue*/;
  padding: 1px;
  border-radius: 10px;
  margin: 10px;
	justify-content: space-evenly;
}

img:hover, *:focus{
  box-shadow:#8B0000;
}

.movingimage {
  padding: 30px;
  border: 30px;
  animation-name: myanimation;
  animation-duration: 2s;
}

  /* bounce on hover code */
.movingimage:hover {
  animation-name: myanimation;
  animation-duration: 3s;
  animation:
    bounce 300ms
    alternate infinite
    cubic-bezier(.2, .65, .6, 1);
}

@keyframes myanimation {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-30px);
  }
}

@media screen and (prefers-reduced-motion: reduce) {
  .movingimage, .movingimage:hover {
      animation: none;
  }
}


figcaption {
	padding: 0.5em;
	font-size: 75%;
	text-align: center;
  }

  /* every 3rd image takes up one third of the column
img:nth-child(2n){
    /*  takes up one third of the column
    grid-column: 1/3;
  }*/

/*Make the h2 heading match h1*/
h2{
	font-size: 1.5em;
	font-weight: bold;
}
/*Make the h3 heading*/
h3{
	font-size: 1em;
	font-weight: bold;
}

/*Improve the spacing for paragraphs AND headings*/
p, h1, h2 {
    padding: 10px;
    font-family: 'Poppins', sans-serif;
}

/*Add borders around the main components and some
space too*/
/*header, nav, main, footer{
	border: 3px solid red;
	margin: 20px 0;
}*/


/*Change the styling for all of the list
items in the nav section*/

/* FLEX */
nav ul {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
}
nav li{
padding: 20px;
width: 100%;
height: 30px;
background: rgb(157, 69, 92);
text-align: center;
font-size: 20px;
}

a:link{
  color:#FBE3E7;
}

/*nav li{
	background-color: #ECFF4D;
	padding:10px;
	width:25%;
	border:1px solid black;
	display: inline-block;
	width: 20%;
}*/

/*Added this so the links stay the same color*/
a:visited{color:#FBE3E7}

/* Change the footer style*/

#footertext {
  font: 15px italic black;
}

footer {
  /* padding: 10px; */
  text-align: center;
  background-color: rgb(241, 170, 191);
  margin-top: 10px;
  grid-row: 5;
}
/*
.container{
    border: 3px gray dashed;
    border-radius: 10px;
    display: block;
    grid-template-columns: 250px 250px;
    row-gap: 20px;
    /* column-gap: 20px; */
   /* text-align: justify;
    justify-content: space-between;
  }*/

  /*Change the jump to main*/
  .skip {
    text-align: right;
    font-size: 15px;
    position: relative;
    right: 500px;
  }

  .contact{
    padding: 20px;
    background:white;
    border: black solid;
    border-radius: 10px;
    display: block;
    /* grid-template-columns: 350px 350px; */
    row-gap: 20px;
    text-align: stretch;
    justify-content: space-between;
  }

  form{
    font-family: 'Poppins', sans-serif;
  }

  .galleryflex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


